@import "reset.css";

body {
  background: no-repeat url("edm.jpg");
  background-size: cover;
  font-family: "Black Han Sans", sans-serif;
  font-family: "Hubballi", cursive;
  font-family: "Nanum Gothic Coding", monospace;
  font-family: "PT Sans Narrow", sans-serif;
  font-family: "Smooch Sans", sans-serif;
  font-size: 80px;
}

.keys {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 부모 태그와 관계없이 Viewpoint Height의 100%를 사용하겠다는 의미이다. */
  color: white;
}

.key {
  padding: 30px;
  border: 3px solid #5d636c;
  margin: 20px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 0px 5px black;
  transition: all 0.07s ease; /* 가장 중요한 부분이다. */
}

span.sound {
  font-size: 20px;
  text-align: center;
  color: black;
  font-weight: bold;
  text-shadow: 0px 0px 5px white;
}

.playing {
  transform: scale(1.1); /* 1.1배를 키울 것이다. */
  border: 5px solid #f6bb43;
  box-shadow: 0px 0px 10px #fffa1b;
}
